* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #AF42AE; */
    /* background: rgb(160, 0, 0); */
}

/* Navbar  */

.navbar-brand  i{
   animation: circle 2.5s  infinite;
}
.navbar-brand  h3{
    font-size: 1.525rem;
 }

@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}

/* Main Content  */

/* 3d Flip Btn  */

button.flipBtn3d {
   position: relative;
   width: 450px;
   height: 150px;
}