* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: linear-gradient(to right, #00aaff, #00ff6c);
}

.d-flex {
	display: flex;
	align-items: center;
}
nav {
	padding: 1rem;
	box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
	background-color: #f1f1f1;
	justify-content: space-between;
}
.navbar__left {
	width: 85%;
	justify-content: space-between;
}
.navbar__left span {
	font-size: 2rem;
	color: tomato;
}
.navbar__items {
	justify-content: flex-end;
	margin: 0 4rem;
}
.navbar__items a {
	text-decoration: none;
	font-size: 1.2rem;
	margin-right: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navbar__items a:hover {
	color: blueviolet;
}
.navbar__right {
	display: none;
	align-self: flex-start;
	justify-content: center;
}
.navbar__right button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
	.navbar__left {
		display: block;
	}
	.navbar__items {
		display: none;
		margin: 2rem 0 0;
	}
	.navbar__items a {
		display: block;
		height: 2rem;
	}
	.navbar__right {
		display: block;
	}
}
