@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$orange: hsl(26, 100%, 55%);
$pale_orange: hsl(25, 100%, 94%);
$vark_blue: hsl(220, 13%, 13%);
$dark_grayish_blue: hsl(219, 9%, 45%);
$grayish_blue: hsl(220, 14%, 75%);
$light_grayish_blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); //with 75% opacity for lightbox background
$main_font: 'Kumbh Sans', sans-serif;

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}