@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

	$pink: #6b59d3;
	$grey: #bfc0c0;
	$white: #fff;
	$text-clr: #5b6475;
	$header-clr: #25273d;
	$next-btn-hover: #8577d2;
	$back-btn-hover: #8b8c8c;
    $main-font: 'Open Sans', sans-serif;


@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}